.firend-page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
}

.firend-page-nav-left {
  font-size: 18px;
  font-weight: 600;
}

.firend-page-nav-right {
  display: flex;
  width: 80px;
  justify-content: space-around;
}

.firend-page-nav-right > img {
  width: 30px;
}

.firend-page-nav-right > img:hover {
  border-radius: 50%;
  background: #f5f3f3;
}
