.step1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.step1-inner-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
}

.step1-inner-container > :first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-back {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #808080;
  margin-right: 20px;
}

.inner-checkbox > img {
  width: 100px;
}

.step1-header {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

.step1-body {
  margin: 0px 10px 0px 20px;
}

.step1-agreement-all-container {
  display: flex;
  height: 90px;
  color: #808080;
  font-size: 12px;
  margin-top: 10px;
}

.step1-agreement-all {
  border-bottom: 1px solid lightgray;
  width: 420px;
}

.step1-agreement-all > div {
  margin-top: 5px;
}

.step1-agreement-all-text {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.step1-agreement-detail-container {
  font-size: 15px;
}

.step1-footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.step1-footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

input[class="agree-checkbox"] {
  display: none;
}

input[class="agree-checkbox"] + label {
  content: "✔";
  color: #909090;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #909090;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

input[class="agree-checkbox"]:checked + label::after {
  content: "✔";
  background: #fada0b;
  color: #fff;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
