.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ffeb32;
}

.login-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  width: 390px;
  height: 640px;
  border-radius: 10px;
}

.login-inner-container-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 250px;
}

.login-inner-container-header > img {
  width: 50%;
  margin-bottom: 30px;
}

.login-inner-container-body {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.login-inner-container-body > input,
.login-button,
.login-button-on {
  width: 240px;
  height: 35px;
  margin: 0;
  border: 1px solid lightgray;
  outline: none;
}

.login-inner-container-body > input {
  width: 232px;
  padding-left: 10px;
}

.login-button,
.login-button-on {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bcbcbc;
  background: #f6f6f6;
  font-size: 15px;
  width: 244px;
  height: 45px;
  margin-top: 5px;
}

.login-button-on {
  columns: #fff;
  background: #423530;
  border: 1px solid #423530;
}

.auto-login {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: #887e1d;
}

.auto-login > input {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.login-error {
  color: #f00;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.login-inner-container-footer {
  display: flex;
  align-items: center;
  flex: 1;
  padding-top: 50px;
  margin-bottom: 20px;
}

.login-center-bar {
  border-left: 1px solid #887e1d;
  height: 13px;
  margin: 0px 10px;
}

.link-button {
  color: #887e1d;
  font-weight: 500;
  text-decoration: none;
}
