.room-container {
  display: flex;
  height: 70px;
  font-size: 13px;
  font-weight: 600;
  justify-content: space-between;
  padding: 0px 20px 0px 10px;
}

.room-container:hover {
  background: #f8f8f8;
}

.room-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 10;
}

.room-left > img {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  margin-right: 10px;
}

.room-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  color: #8a8a8a;
}

.room-body > :first-child {
  color: #000;
  font-size: 15px;
  flex: 1;
}

.room-content {
  word-break: break-all;
  overflow: hidden;
  width: 100%;
  height: 18px;
}

.room-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  width: 70px;
  flex: 1 0 50px;
  color: #8a8a8a;
}

.room-newMsg-count {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  color: #fff;
  background: #fe5a4a;
  font-size: 10px;
  font-weight: 700;
}
