.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65px;
  background: #e6e6e6;
}

.nav-continer-innerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 10px 0px;
}

.nav-continer-innerbox > img {
  width: 30px;
  margin: 10px;
}

.deselected:hover {
  filter: brightness(0.8) invert(1);
}

.selected {
  filter: brightness(1) invert(1);
}

.options > img:hover {
  border-radius: 50%;
  background: #dfdfdf;
}
