.inner-room-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inner-room-member {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inner-room-member > img {
  width: 14px;
  height: 14px;
  filter: brightness(0.7) invert(1);
  margin-bottom: 2px;
}

.inner-room-member > div {
  color: #808080;
  font-size: 12px;
}

.inner-room-container-body {
  display: flex;
  flex: 1;
  background: #bdd0dc;
  overflow-y: auto;
}

.inner-room-container-input {
  display: flex;
  flex-direction: column;
  height: 130px;
}

.inner-room-input-nav {
  background: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
}

.inner-room-input-nav-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.inner-room-input-nav-left > img,
.inner-room-input-nav-right > img {
  width: 30px;
  margin-right: 10px;
}

.inner-room-input-nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.inner-room-input-area {
  display: flex;
  flex: 5;
}

.inner-room-input-area > input {
  flex: 1;
  border: none;
  outline: none;
  vertical-align: baseline;
}

.block-message {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #b0b0b0;
}

.send-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.send-button-on,
.send-button-off {
  border: 1px solid #e8e8e8;
  padding: 25px;
  border-radius: 5px;
  color: #b0b0b0;
  font-size: 14px;
  background: #f9f9f9;
}

.send-button-on {
  background: #ffe500;
  color: #000;
}
