.seemore-page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* .seemore-page-content-header {
  border: 1px solid red;
  height: 100px;
}

.seemore-page-content-body {
  border: 1px solid red;
  flex: 1;
}

.seemore-page-content-footer {
  border: 1px solid red;
  flex: 1;
} */
